In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv file into dataframe
online_retail = pd.read_csv('online_retail.csv')

Find the best-selling item for each month (no need to separate months by year). The best-selling item is determined by the highest total sales amount, calculated as: total_paid = unitprice * quantity. Output the month, description of the item, and the total amount paid.

In [3]:
# show
online_retail

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,544586,21890,S/6 WOODEN SKITTLES IN COTTON BAG,3,2/21/2011,2.95,17338.0,United Kingdom
1,541104,84509G,SET OF 4 FAIRY CAKE PLACEMATS,3,1/13/2011,3.29,NaN,United Kingdom
2,560772,22499,WOODEN UNION JACK BUNTING,3,7/20/2011,4.96,NaN,United Kingdom
3,555150,22488,NATURAL SLATE RECTANGLE CHALKBOARD,5,5/31/2011,3.29,NaN,United Kingdom
4,570521,21625,VINTAGE UNION JACK APRON,3,10/11/2011,6.95,12371.0,Switzerland
...,...,...,...,...,...,...,...,...
103,14,22087,PAPER BUNTING WHITE LACE,10,7/28/2011,2.55,NaN,United Kingdom
104,15,22087,PAPER BUNTING WHITE LACE,2,6/28/2011,2.55,NaN,United Kingdom
105,16,22087,PAPER BUNTING WHITE LACE,1,4/28/2011,2.55,NaN,United Kingdom
106,17,22087,PAPER BUNTING WHITE LACE,1,2/28/2011,2.55,NaN,United Kingdom
107,18,22087,PAPER BUNTING WHITE LACE,10,1/28/2011,2.55,NaN,United Kingdom

In [4]:
# create a column that returns the total sales
online_retail['total_sale'] = online_retail['quantity'] * online_retail['unitprice']

#show
online_retail

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,total_sale
0,544586,21890,S/6 WOODEN SKITTLES IN COTTON BAG,3,2/21/2011,2.95,17338.0,United Kingdom,8.85
1,541104,84509G,SET OF 4 FAIRY CAKE PLACEMATS,3,1/13/2011,3.29,NaN,United Kingdom,9.87
2,560772,22499,WOODEN UNION JACK BUNTING,3,7/20/2011,4.96,NaN,United Kingdom,14.88
3,555150,22488,NATURAL SLATE RECTANGLE CHALKBOARD,5,5/31/2011,3.29,NaN,United Kingdom,16.45
4,570521,21625,VINTAGE UNION JACK APRON,3,10/11/2011,6.95,12371.0,Switzerland,20.85
...,...,...,...,...,...,...,...,...,...
103,14,22087,PAPER BUNTING WHITE LACE,10,7/28/2011,2.55,NaN,United Kingdom,25.50
104,15,22087,PAPER BUNTING WHITE LACE,2,6/28/2011,2.55,NaN,United Kingdom,5.10
105,16,22087,PAPER BUNTING WHITE LACE,1,4/28/2011,2.55,NaN,United Kingdom,2.55
106,17,22087,PAPER BUNTING WHITE LACE,1,2/28/2011,2.55,NaN,United Kingdom,2.55
107,18,22087,PAPER BUNTING WHITE LACE,10,1/28/2011,2.55,NaN,United Kingdom,25.50

In [5]:
#split the invoice date column
date = online_retail['invoicedate'].str.split(pat = '/', expand= True)

#show
date

      0   1     2
0     2  21  2011
1     1  13  2011
2     7  20  2011
3     5  31  2011
4    10  11  2011
..   ..  ..   ...
103   7  28  2011
104   6  28  2011
105   4  28  2011
106   2  28  2011
107   1  28  2011

[108 rows x 3 columns]

In [6]:
#merge the month column to the online_retail dataframe
online_retail = pd.merge(online_retail, date[1], left_index = True, right_index = True)

#show
online_retail

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,total_sale,1
0,544586,21890,S/6 WOODEN SKITTLES IN COTTON BAG,3,2/21/2011,2.95,17338.0,United Kingdom,8.85,21
1,541104,84509G,SET OF 4 FAIRY CAKE PLACEMATS,3,1/13/2011,3.29,NaN,United Kingdom,9.87,13
2,560772,22499,WOODEN UNION JACK BUNTING,3,7/20/2011,4.96,NaN,United Kingdom,14.88,20
3,555150,22488,NATURAL SLATE RECTANGLE CHALKBOARD,5,5/31/2011,3.29,NaN,United Kingdom,16.45,31
4,570521,21625,VINTAGE UNION JACK APRON,3,10/11/2011,6.95,12371.0,Switzerland,20.85,11
...,...,...,...,...,...,...,...,...,...,...
103,14,22087,PAPER BUNTING WHITE LACE,10,7/28/2011,2.55,NaN,United Kingdom,25.50,28
104,15,22087,PAPER BUNTING WHITE LACE,2,6/28/2011,2.55,NaN,United Kingdom,5.10,28
105,16,22087,PAPER BUNTING WHITE LACE,1,4/28/2011,2.55,NaN,United Kingdom,2.55,28
106,17,22087,PAPER BUNTING WHITE LACE,1,2/28/2011,2.55,NaN,United Kingdom,2.55,28
107,18,22087,PAPER BUNTING WHITE LACE,10,1/28/2011,2.55,NaN,United Kingdom,25.50,28

In [7]:
# rename column
online_retail = online_retail.rename(columns = {1:'month'})

#show
online_retail

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,total_sale,month
0,544586,21890,S/6 WOODEN SKITTLES IN COTTON BAG,3,2/21/2011,2.95,17338.0,United Kingdom,8.85,21
1,541104,84509G,SET OF 4 FAIRY CAKE PLACEMATS,3,1/13/2011,3.29,NaN,United Kingdom,9.87,13
2,560772,22499,WOODEN UNION JACK BUNTING,3,7/20/2011,4.96,NaN,United Kingdom,14.88,20
3,555150,22488,NATURAL SLATE RECTANGLE CHALKBOARD,5,5/31/2011,3.29,NaN,United Kingdom,16.45,31
4,570521,21625,VINTAGE UNION JACK APRON,3,10/11/2011,6.95,12371.0,Switzerland,20.85,11
...,...,...,...,...,...,...,...,...,...,...
103,14,22087,PAPER BUNTING WHITE LACE,10,7/28/2011,2.55,NaN,United Kingdom,25.50,28
104,15,22087,PAPER BUNTING WHITE LACE,2,6/28/2011,2.55,NaN,United Kingdom,5.10,28
105,16,22087,PAPER BUNTING WHITE LACE,1,4/28/2011,2.55,NaN,United Kingdom,2.55,28
106,17,22087,PAPER BUNTING WHITE LACE,1,2/28/2011,2.55,NaN,United Kingdom,2.55,28
107,18,22087,PAPER BUNTING WHITE LACE,10,1/28/2011,2.55,NaN,United Kingdom,25.50,28

In [8]:
# return monthly sales by summing each item sales for each month
monthly_sales = online_retail[['month','stockcode','description','total_sale']].groupby(['month','stockcode','description' ], as_index = False).sum()

#show
monthly_sales

    month stockcode                        description  total_sale
0       1     22090            PAPER BUNTING RETROSPOT       35.40
1       1    84985A      SET OF 72 GREEN PAPER DOILIES        1.45
2       1    90214H          LETTER "H" BLING KEY RING        0.85
3      10     21169     YOU'RE CONFUSING ME METAL SIGN        1.69
4      10     21985   PACK OF 12 HEARTS DESIGN TISSUES        0.85
..    ...       ...                                ...         ...
96      8     22614        PACK OF 12 SPACEBOY TISSUES        6.96
97      8     22737      RIBBON REEL CHRISTMAS PRESENT       24.75
98      8     22774  RED DRAWER KNOB ACRYLIC EDWARDIAN        2.46
99      8     22918                HERB MARKER PARSLEY        7.80
100     9     22980             PANTRY SCRUBBING BRUSH        3.30

[101 rows x 4 columns]

In [9]:
# create a column that returns max sales of each month and attach it to the specific month
monthly_sales['max'] = monthly_sales.groupby(['month'])['total_sale'].transform('max')

#show
monthly_sales

    month stockcode                        description  total_sale    max
0       1     22090            PAPER BUNTING RETROSPOT       35.40  35.40
1       1    84985A      SET OF 72 GREEN PAPER DOILIES        1.45  35.40
2       1    90214H          LETTER "H" BLING KEY RING        0.85  35.40
3      10     21169     YOU'RE CONFUSING ME METAL SIGN        1.69  17.40
4      10     21985   PACK OF 12 HEARTS DESIGN TISSUES        0.85  17.40
..    ...       ...                                ...         ...    ...
96      8     22614        PACK OF 12 SPACEBOY TISSUES        6.96  24.75
97      8     22737      RIBBON REEL CHRISTMAS PRESENT       24.75  24.75
98      8     22774  RED DRAWER KNOB ACRYLIC EDWARDIAN        2.46  24.75
99      8     22918                HERB MARKER PARSLEY        7.80  24.75
100     9     22980             PANTRY SCRUBBING BRUSH        3.30   3.30

[101 rows x 5 columns]

In [10]:
# return rows where the max column matches the total sales 
best_selling_item = monthly_sales[['month','description', 'total_sale']][monthly_sales['total_sale'] == monthly_sales['max']]

#show
best_selling_item

    month                         description  total_sale
0       1             PAPER BUNTING RETROSPOT       35.40
5      10     SET OF 36 DOILIES PANTRY DESIGN       17.40
8      11            DOLLY GIRL BABY GIFT SET       33.90
9      12              TOY TIDY PINK POLKADOT        8.40
12     13          CHILDRENS CUTLERY SPACEBOY       16.60
15     14          FOOD/DRINK SPONGE STICKERS       10.50
16     15         BREAD BIN DINER STYLE IVORY       16.95
19     16       LAVENDER SCENTED FABRIC HEART       25.00
21     17               HEART OF WICKER LARGE       17.73
27     18            JUMBO STORAGE BAG SKULLS       20.80
31     19         FELTCRAFT CUSHION BUTTERFLY       15.00
33      2            REGENCY CAKESTAND 3 TIER       38.25
37     20            PAPER BUNTING WHITE LACE      102.00
42     21    WHITE ROCKING HORSE HAND PAINTED       30.00
46     23                 TEA TIME OVEN GLOVE        5.00
47     24           LUNCH BAG SPACEBOY DESIGN       66.00
55     25      RED WOOLLY HOTTIE WHITE HEART.      228.25
58     26         I LOVE LONDON BABY GIFT SET       24.96
59     27            STRAWBERRY CHARLOTTE BAG        8.50
61     28            PAPER BUNTING WHITE LACE      145.35
66      3         WOODEN SCHOOL COLOURING SET       19.80
70     30          CHOCOLATE HOT WATER BOTTLE      102.00
77     31  NATURAL SLATE RECTANGLE CHALKBOARD       16.45
80      4                RECIPE BOX RETROSPOT       17.70
86      5             RED SPOT GIFT BAG LARGE       15.00
89      6               LOVE HOT WATER BOTTLE       23.80
92      7         FRENCH LAVENDER SCENT HEART        1.63
97      8       RIBBON REEL CHRISTMAS PRESENT       24.75
100     9              PANTRY SCRUBBING BRUSH        3.30